
body {
background-image:url('crystals.jpg');
margin:20px;
text-align:center;
}


.gems{
float:right;
border:black 2px solid;
background-color:black;
margin:20px;
width:100%;
}
img {
	margin:10px;
}

.board {
	
	
	background-color: navy;
	border: 2px groove black;
	text-align: center;
	color: #f4f4f4;
}
.scoreboard {
	
	background-color: navy;
	border: black groove 2px;
	color: #f4f4f4;
	text-align: center;
	
}
.goal {
	background-color: navy;
	border:2px solid black;
	color: #f4f4f4;
	text-align: center;
	
}
.rules {
	
	
	background-color: navy;
	color:#f4f4f4;
	border:2px black groove;
	
	
}
.tile {
	
	background-image:url("red-crystal.jpg");
	text-align: center;
	font-family: fantasy;
	color: #f4f4f4;
	font-size: 26px;
}
p {
	line-height: 1.5;
	font-family: arial;
}
img {
	
	width:20%;
	margin:50px;
	border: white groove 2px;
}